body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #aaa;
    width: 300px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 14px;
}

.input_submit {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.input_submit:hover{
    background-color: #006666;
    transform: scale(1.05);
}

